#scikit-learn==1.5.0
scipy==1.13.1
# scikit-learn==1.2.2 From HaN-Seg
scikit-learn==1.5.1
#nnUNETv2==2.4.2
#nnUNet requirements
torch>=2.1.2
acvl-utils>=0.2  # 0.3 may bring breaking changes. Careful!
dynamic-network-architectures>=0.3.1  # 0.3.1 and lower are supported 0.4 may have breaking changes. Let's be careful here
tqdm
dicom2nifti
scipy
batchgenerators>=0.25
numpy
scikit-learn
scikit-image>=0.19.3
SimpleITK>=2.2.1
pandas
graphviz
tifffile
requests
nibabel
matplotlib
seaborn
imagecodecs
yacs
batchgeneratorsv2>=0.2
einops